<ng-container
  waOscillatorNode
  autoplay
  [frequency]="523"
>
  <ng-container
    *ngIf="(morse$ | async) as morseValue"
    waGainNode
    [gain]="0"
    [gain]="morseValue | waAudioParam: 0.05"
  >
    <ng-container waAudioDestinationNode></ng-container>
  </ng-container>
</ng-container>
<section>
  <button
    *ngFor="let char of chars"
    type="button"
    [char]="char"
  >
    {{ char }}
  </button>
</section>
<output>{{ output$ | async }}</output>
<footer>
  <button
    #btn
    type="reset"
    (click)="onClick(btn)"
  >Clear</button>
</footer>
